body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #000000;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #1e1e29;
    color: #02ff0a;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #49dd86;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover, nav ul li a.active {
    background: #1b2b3b;
    border-radius: 3px;
}

.wiki-box, .quick-links, .recent-updates {
    background: #1e1e29;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2, h3 {
    color: #02ff0a;
    border-bottom: 2px solid #1b2b3b;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #49dd86;
    text-decoration: none;
}

a :hover {
    color: #02ff0a;
}

a :visited {
    color: #259d00;
}

p{
    color: #02ff0a;
}

a:hover {
    text-decoration: underline;
}

.recent-updates ul li {
    color: #8cd4aa;
    border-bottom: 1px solid #1b2b3b;
    padding-bottom: 5px;
}

.recent-updates ul li :hover{
    color: #02ff0a;
}

.recent-updates ul li:last-child {
    border-bottom: none;
}
